<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('partials/head', {title: 'Registro'}) %>
<body>
	<!-- Header -->
	<%- include('partials/headerNavbar') %>
	<!-- /Header -->

	<div class="container products-wrapper">
    <div class="col-6 mx-auto ">

		<div class="row ">
			<div class="col-12">
				<h2 class="products-title">Formulario de Registro</h2>
			</div>
		<div class="col-12 product-detail py-4">
      <form id="register" action="" method="POST">

        <div class="row ">

          <div class="form-group col-12 ">
            <label for="nombre"></label>
            <input type="text"
            class="form-input <%= (typeof old != 'undefined' && old.nombre)?"is-valid":(typeof errors != 'undefined' && errors.nombre)?"is-invalid": ""  %>"
            id="nombre"  name="nombre"  value="<%= (typeof old != 'undefined' && old.nombre)?old.nombre:'' %>" placeholder="nombre" title="El nombre debe tener más de dos caracteres"/>
            <small id="errorNombre" class="text-danger"><%= (typeof errors != 'undefined' && errors.nombre)?errors.nombre.msg: "" %> </small>
          </div>

         

        </div>

    
        <div class="row">
          <div class="form-group col-12 ">
            <label for="email"></label>
            <input type="email"
            class="form-input <%= (typeof old != 'undefined' && old.email && !errors.email)?"is-valid":(typeof errors != 'undefined' && errors.email)?"is-invalid": ""  %>"
            id="email" value="<%= (typeof old != 'undefined' && old.email)?old.email:'' %>" placeholder="email" name="email"/>
            <small id="errorEmail" class="text-danger"><%= (typeof errors != 'undefined' && errors.email)?errors.email.msg: "" %> </small>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-12">
            <label for="pass"></label>
            <input type="password"
            class="form-input <%= (typeof errors != 'undefined' && errors.pass)?"is-invalid": ""  %>"
            id="pass" placeholder="contraseña" name="pass"/>
            <small id="errorPass" class="text-danger"><%= (typeof errors != 'undefined' && errors.pass)?errors.pass.msg: "" %> </small>
          </div>

        </div>
       
              <span id="msgError" class="text-danger"></span>
              <div class="d-grid gap-2">
                <button class="btn buy-now-button btn-primary" type="submit">Registrarse</button>
              </div>
           

        
        </div>
      </form>
		
		</div>
  </div>

	</div>

</body>	
</html>

